body {
    background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjbmceVtZvgAhWY0YMKHV7WAKkQjRx6BAgBEAQ&url=http%3A%2F%2Fblackjackrants.blogspot.com%2F2018%2F12%2Flore-of-hearthstone-episode-31.html&psig=AOvVaw1z-pjFUZeFYPBK4RFFCuGO&ust=1549140752499861");
    text-align: center;
    font-size: 100px;
    color: brown;
}
