body {
    background-image: url("https://d1u5p3l4wpay3k.cloudfront.net/hearthstone_gamepedia/thumb/1/11/Gonk%2C_the_Raptor_full.jpg/400px-Gonk%2C_the_Raptor_full.jpg?version=e6860c83e63f3b58bb36e1a00232ff25");
    text-align: center;
    font-size: 100px;
    color: brown;
}
